{% extends 'trevello/base.html' %}
{% block content %}
    <div class="container" style="height: 600px;
  width: 80%;
  background-color: white;">

        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
        <div class="form-group">
            <label for="example-email-input" class="col-2 col-form-label">Email</label>
            <input type="email" name="email" class="form-control"  placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="example-email-input" class="col-2 col-form-label">Subject</label>
            <input type="text" name="subject" class="form-control"  placeholder="Subject" required>
        </div>
            <div class="form-group ">
                        <label for="example-email-input" class="col-2 col-form-label">Message</label>

                            <textarea name='message' class="form-control" placeholder="Your Message" required></textarea>

                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>
        </form>
    <div style="padding-top: 50px;">
        <h2>Details:</h2><br>
    Mobile number: +92-300-698-0000<br><br>
    Email: muhammadbehroz777@gmail.com<br><br>
    Address: Main market Chishtian,Punjab,Pakistan<br><br>
    </div>
    </div>
{% endblock %}